<div class="section">

    <div class="wide">
        <h4>Congratulations on completing the Sample App!</h4>

        <div class="content">
            <p>Now that you’ve learned a few key concepts of AppDynamics, you can: </p>

            <button type="button" class="blue" style="margin-top: 50px; width:256px; height: 36px;" ng-click="openController('Getting Started')">Get Started with Your Own App</button>
<!--             <button type="button" class="blue" style="margin-top: 50px; width:256px; height: 36px;" ng-click="navigateTo('')">Schedule a Live Demo</button> -->
            <button type="button" class="blue" style="margin-top: 50px; width:256px; height: 36px;" onclick="window.open('https://www.appdynamics.com/opscentral/')")">Learn More by Visiting OpsCentral</button>

        </div>
	</div>
</div>

<button type="button" class="blue" style="margin-top: 50px; width:256px; height: 36px;" ng-click="navigateTo('errorsExceptions')"> &#8592; Back </button>
